@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --h1-size: 3rem;
  --h2-size: 2.5rem;
  --h3-size: 1.8rem; /* Estándar para h3 */
  --color-bg: #8a522d;
  --color-highlight: #a5673f;
  --color-overlay: rgba(64, 35, 24, 0.8);
  --color-light: rgba(217, 179, 145, 0.9);
  --color-white: #ffffff;
  --color-wsmoke: #f5f5f5;
}
/* Reseteo de valores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  /* box-sizing: content-box; *valor por defecto*/
}

/* Estilos Generales de la página */
body {
  background-color: var(--color-bg);
  font-family: "Ubuntu", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Arima", system-ui;
  font-weight: 500;
  color: var(--color-wsmoke);
  text-align: center;
}

h1 {
  font-size: var(--h1-size);
  margin-bottom: 20px;
}

h2 {
  font-size: var(--h2-size);
  margin-bottom: 15px;
}

h3 {
  font-size: var(--h3-size);
  margin: 10px 0;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: black;
  font-size: 1.2rem;
}

/* Estilos del header */
.headerContainer {
  margin-bottom: 20px;
  height: 20vh;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-light);
  position: sticky;
  top: 0;
  z-index: 1000;

  .logo {
    width: 300px;
    height: auto;
    padding: 50px;
  }

  nav {
    ul {
      li {
        display: inline-block;
        margin-right: 15px;
        transition: color 0.3s ease;
      }
      a:hover {
        color: #a5673f;
      }
    }
  }

  .menu-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    display: none; /* Ocultamos el botón por defecto */
  }

  .menu {
    list-style: none;
    display: flex; /* Visible en escritorio */
    gap: 15px;
  }

  .menu.nav-open {
    display: flex; /* Mostrar menú en pantallas pequeñas */
  }
}

/* Responsividad */

@media screen and (max-width: 768px) {
  .headerContainer {
    nav {
      .menu-toggle {
        display: block; /* Mostrar el botón en pantallas pequeñas */
      }

      .menu {
        display: none; /* Esconder el menú inicialmente */
        flex-direction: column;
        align-items: center;
        background-color: var(--color-highlight);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
      }

      .menu.nav-open {
        display: flex; /* Mostrar el menú al activar el toggle */
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .headerContainer {
    nav {
      .menu-toggle {
        display: none; /* Esconder el botón en escritorio */
      }

      .menu {
        display: flex;
        flex-direction: row;
        position: static;
        background-color: transparent;
      }
    }
  }
}

/* Estilos sección principal del Index */
.mainSection {
  padding: 50px 0 100px 0;
  background-image: url("../assets/img/banner_dulce_encuentro.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 70vh;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(90%); /* Reduce la intensidad de la imagen de fondo */
  .mainText {
    background-color: var(--color-overlay);
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    padding-bottom: 10px;
    width: 80%;
    p {
      color: var(--color-white);
      padding-bottom: 10px;
      font-size: 1.8rem;
      margin-bottom: 10px;
    }
    a {
      display: inline-block;
      color: var(--color-white);
      font-size: 1.2rem;
      border: 4px solid #a5673f;
      border-radius: 8px;
      padding: 8px;
      transition: color 0.3s ease;
    }
    a:hover {
      color: var(--color-highlight);
    }
  }
}
.mainTextMobile {
  display: none;
}
/*media querys contenido principal index*/
@media screen and (max-width: 768px) {
  .mainSection {
    background-image: none;
  }
  .mainTextMobile {
    background-color: var(--color-overlay);
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    width: 80%;
    font-size: 1rem;
  }
}

/* Estilos para Postres Destacados */
.postresDestacados {
  padding: 40px 20px;
}

.postresDestacados h2 {
  margin-bottom: 30px;
}

.postresDestacados .galeriaDestacados {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
}

.postresDestacados .galeriaDestacados .cardDestacados {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos dentro de la tarjeta */
  text-align: center; /* Centra texto */
  padding: 15px;
  border: 4px solid var(--color-highlight); /* Borde */
  border-radius: 10px;
  background-color: rgba(217, 179, 145, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: calc(100% / 3 - 20px);
  max-width: 300px; /* Tamaño máximo */
  box-sizing: border-box;
  height: 100%;
}

.postresDestacados .galeriaDestacados .cardDestacados img {
  width: 100%; /* Imagen ocupa el ancho del contenedor */
  height: 150px; /* Altura fija para uniformar las imágenes */
  border-radius: 5px;
  object-fit: cover; /* Asegura que la imagen se recorte proporcionalmente */
  margin-bottom: 10px;
}

.postresDestacados .galeriaDestacados .cardDestacados h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.postresDestacados .galeriaDestacados .cardDestacados h4 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.postresDestacados .galeriaDestacados .cardDestacados a {
  text-decoration: none; /* Sin subrayado */
  background-color: var(--color-highlight);
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s; /* Animación de transición */
}

.postresDestacados .galeriaDestacados .cardDestacados a:hover {
  background-color: #87492d;
}

/* Responsividad */
@media (max-width: 768px) {
  .postresDestacados .galeriaDestacados .cardDestacados {
    width: calc(100% / 2 - 20px); /* Dos tarjetas por fila */
  }
}

@media (max-width: 480px) {
  .postresDestacados .galeriaDestacados .cardDestacados {
    width: 100%; /* Una tarjeta por fila */
  }
}

/* Estilos para las reseñas */
.reseñas {
  text-align: center;
  padding: 20px;
}

.reseñas a {
  text-decoration: none;
  background-color: #a5673f;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.reseñas a:hover {
  background-color: #87492d;
}

.galeriaClientes {
  padding: 30px;
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  row-gap: 20px;
  column-gap: 20px;
  flex-wrap: wrap;
}

.tarjetaCliente {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid #a5673f;
  border-radius: 10px;
  background-color: rgba(217, 179, 145, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: calc(100% / 3 - 20px); /* Tres tarjetas por fila */
  max-width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efecto en hover */
}

.tarjetaCliente:hover {
  transform: translateY(-5px); /* Eleva la tarjeta */
  box-shadow: 0 6px 12px rgba(184, 31, 31, 0.599); /* Sombra más intensa */
}

.tarjetaCliente img {
  width: 100%;
  height: 200px; /* Altura fija para uniformar las imágenes */
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px; /* Espaciado inferior */
}

.tarjetaCliente h3 {
  font-size: var(--h3-size); /* Usa la variable global para h3 */
  margin-top: 10px;
}

.tarjetaCliente p {
  font-size: 1rem;
  line-height: 1.4;
  margin-top: 5px;
  color: #fff;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
  .galeriaClientes {
    width: 100%; /* Ajustar al 100% en pantallas pequeñas */
  }

  .tarjetaCliente {
    width: calc(100% / 2 - 15px); /* Dos tarjetas por fila */
  }

  .reseñas h2 {
    font-size: 1.5rem; /* Reducir tamaño del título */
  }
}

@media (max-width: 480px) {
  .tarjetaCliente {
    width: 100%; /* Una tarjeta por fila */
  }

  .reseñas a {
    padding: 8px 12px; /* Reducir tamaño del botón */
  }

  .reseñas h2 {
    font-size: 1.2rem; /* Reducir aún más el título */
  }
}

/* Estilos para sección nosotros */
.nosotros {
  text-align: center;
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.nosotros h2 {
  margin-bottom: 20px;
}

.contenedorNosotros {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.nosotrosImg {
  background-image: url("../assets/img/ownerpastry.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  width: 50%;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nosotrosText {
  p {
    line-height: 1.4;
  }
  width: 50%;
  font-size: 1.4rem;
  color: #fff;
  text-align: justify;
}

/* Responsividad */
@media (max-width: 768px) {
  .nosotros h2 {
    font-size: 1.4rem; /* Tamaño más pequeño para títulos */
  }

  .nosotrosText {
    font-size: 1.2rem;
  }

  .contenedorNosotros {
    flex-direction: column; /* Apila los elementos */
    align-items: center;
    gap: 20px;
  }

  .nosotrosImg,
  .nosotrosText {
    width: 100%;
  }

  .nosotrosImg {
    height: 200px; /* Altura ajustada en pantallas pequeñas */
  }
}

/* Fin de estilos en el index */

/*Galería de Página Productos*/
.galeriaGridDulces {
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.5fr 1fr;
  /* Transicion de la imagen */
  img {
    transition: transform 0.3s ease-in-out, z-index 0.3s ease-in-out;
    position: relative; /* Necesario para usar z-index */
    z-index: 1; /* Nivel base */
    border-radius: 15px;
    &:hover {
      transform: scale(1.1); /* Agranda la imagen */
      z-index: 10; /* La coloca por encima de otros elementos */
    }
  }
  grid-template-areas:
    "lechoza medialunas"
    "tres medialunas"
    "alfajor medialunas"
    "alfajor chocotorta";
  gap: 25px;
  .hijo_1 {
    grid-area: lechoza;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .hijo_2 {
    grid-area: medialunas;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .hijo_3 {
    grid-area: tres;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .hijo_4 {
    grid-area: alfajor;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .hijo_5 {
    grid-area: chocotorta;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Estilos para el footer */
.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 30px;
  padding: 20px;
  width: fit-content;
  background-color: rgba(217, 179, 145, 0.5);
  flex-wrap: wrap;

  .logo {
    width: 200px;
    height: auto;
  }

  .fa-whatsapp {
    font-size: 60px;
    color: #25d366;
    position: fixed;
    right: 20px;
    bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    .fa-instagram,
    .fa-facebook,
    .fa-x-twitter {
      font-size: 2rem;
    }
    li {
      display: inline-block;
      padding: initial;
      transition: transform 0.3s ease;
    }
    li:hover {
      transform: translateY(-10px);
    }
    a {
      text-decoration: none;
      color: black;
      font-size: 1rem;
      transition: color 0.3s ease;
    }
    a:hover {
      color: #a5673f;
    }
  }

  .footer-main-container {
    display: flex;
    column-gap: 80px;

    .footer-first-container {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-evenly;
      column-gap: 30px;
      padding-left: 20px;
    }

    .footer-second-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      form input[type="email"] {
        width: 200px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 1rem;
        margin-bottom: 10px;
        text-align: center;
      }

      form input[type="submit"] {
        background-color: #a5673f;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        width: 200px;
        text-align: center;
      }

      form input[type="submit"]:hover {
        background-color: #8b5033;
      }
    }

    .footer-third-container {
      display: flex;
      width: 100%;
      align-items: center;
      text-align: center;
      justify-content: center;
      margin-right: 0;
    }
  }

  .footerCopy {
    text-align: center;
    font-size: 0.9rem;
    color: #555;
  }

  /* Media Query para pantallas pequeñas Footer */
  @media (max-width: 768px) {
    .footer-main-container {
      flex-direction: column;
      row-gap: 30px;
      text-align: center;

      .footer-first-container,
      .footer-second-container,
      .footer-third-container {
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        padding: 0;
      }

      .footer-first-container nav ul,
      .footer-second-container nav ul {
        flex-direction: column;
        gap: 10px;
      }

      .footer-first-container .logo {
        width: 200px;
      }

      .footer-second-container form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .footer-third-container address p {
        margin: 5px 0;
      }
    }

    .fa-whatsapp {
      font-size: 50px;
      right: 10px;
      bottom: 10px;
    }
  }
}
